/* Eksempel farger */

$black: #000;
$white: #fff;

$makerSpaceColor: #f9a31d;

/* Så lenge denne er iportert i style.scss, så kan man referer til variabelnavnene
som eks: $makerSpaceColor isteden for selve farge koden */