
/* Smartphones */

@media only screen and (max-width: 600px) {
  
    #header-test {
        width: 120%;
        height: 45%;
    }
    #category {
        right: 20%;
        top: -500em;
    }

    .manger-nav a {
        visibility: hidden;
    }
/* -------- log in -------- */
    #login_txt {
        left: 40%;
        width: 30%;
    }
   
    #btnLogin {
      
    }
     
    #txtEmail2 {
        left: 1%;
    
    }

    #txtPassword2 {
        left: 1%;
    }

}


