
/* Smartphones (landscape)  */

@media only screen and (max-width: 600px) {
  
    #header-test {
        width: 300%;
    }
    #category {
        left: 10em;
        top: -500em;
    }
/* -------- log in -------- */
    #login_txt {
        left: 10em;
    }
   
    #btnLogin {
        left: 20em;
    }
   
    #txtEmail2 {
        left: 17em;
    }

    #txtPassword2 {
        left: 17em;
    }

}


