
@import "scss/colors.scss";

/* App.vue */

$primary-color: #f9a31d;

html, body {
  // background-color: $primary-color;
}

#header {
  position: fixed;
  width:100%;
  top:0;
  left: 0%;
  z-index: 999;
  height: 15%;
  background: white;
  margin-bottom: 60%;
}

#app {
  position: absolute;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 75%;
  
}
/* Header */
/* .header {
  background-color: $makerSpaceColor;
  text-align: center;
  padding: 2rem 5rem 2rem 5rem;
  position: relative; 
} */

/* MakerSpace logo */

.makerspace-logo {
 float: left;
 padding: 0 45px 45px 0;
}

/* body items */
/*
.mb-0 {
  position: relative;
  float: right;
  padding: 0 25px 40px 1250px;
  right: 0;
}
*/


/* sorting */
/*
.sorting{
  clear: none;
  top: 150px;
  right: 50px;
}
*/

.group-by {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 0em;
  top: 18em;
}


/* first - nesxt - last */
.my-1 {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  right: 5em;
  top: 27em;
}


/* Elementene/ting etc */
.table.b-table.table-bordered.b-table-selectable {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  left: 30em;
  bottom: 5em;
}



/* Søk */
.searching {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  top: 1em;
  left: 2em;
}

/* checkbox */
.category {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 17em;
  top: 12em;
}

/* availability */
.availability {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 32em;
  top: 5em;
}


