
@import "scss/colors.scss";

/* App.vue */

$primary-color: #f9a31d;

html, body {
  // background-color: $primary-color;
}

#header {
  position: fixed;
  width:100%;
  top:0;
  left: 0%;
  z-index: 999;
  height: 15%;
  background: white;
  margin-bottom: 60%;
}

#app {
  position: absolute;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 75%;
  
}
/* Header */
/* .header {
  background-color: $makerSpaceColor;
  text-align: center;
  padding: 2rem 5rem 2rem 5rem;
  position: relative; 
} */

/* Søk */
#searching {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  top: 2em;
  right: 26em;
}

/* checkbox */

#category {
  position: relative;
  float: left;
  text-align: left;
  top: 9em;
  right: 37.8em;
}

/* availability */
#availability {
  position: relative;
  float: left;
  text-align: left;
  top: 3em;
  right: 44.7em;
}

/* nav manager */
.manger-nav {
  
}

.manger-nav a{
  position: relative;
  margin-right: 15px;
  color: #2c3e50;
  float: left;
}

/* container */
#container {
  position: relative;
  float: left;
  height: 25em;
  width: 38em;
  top: 0em;
  left: 20em;
  border-style: solid;
}
/* For earch element */
#item_element {
  position: relative;
  border-style: solid;
  height: 10em;
}

#content_img {
  position: relative;
  float: left;
  right: 7em;
  top: 2em;
}

#item_title {
  font-size: 20px;
  position: relative;
  float: left;
  left: 6em;
  top: 1em;
}

#description {
  position: relative;
  float: left;
  top: 5em;
  right: 4em;
}

#status {
  position: relative;
  float: left;
  top: 3em;
  right: 15.9em;
}

#favorit_button {
  position: relative;
  float: left;
  top: 1em;
  left: 7em;
}

/* login */
#login_txt {
  font-size: 25px;
  position: relative;
  top: 1em;
}

#login {
  position: relative;
  
}

#btnLogin {
  position: relative;
  top: 2em;
  left: 4em;
  width: 8em;
}

#txtEmail {
  position: relative;
  margin: 10px;
  right: 1em;
  top: 1em;
}

#txtPassword {
  position: relative;
  right: 0.5em;
  top: 1em;
}

#btnSignout {
  position: relative;
  top: 10em;
}

#btnReqpassword {
  position: relative;
  
}

#forgot_password {
  position: relative;
  top: 6em;
  right: 5.5em;
  top: 5em;
}