
@import "scss/colors.scss";

/* App.vue */

$primary-color: #f9a31d;

html, body {
  // background-color: $primary-color;
}

#header {
  position: fixed;
  width:100%;
  top:0;
  left: 0%;
  z-index: 999;
  height: 15%;
  background: white;
  margin-bottom: 60%;
}

#app {
  position: absolute;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 75%;
  
}
/* Header */
/* .header {
  background-color: $makerSpaceColor;
  text-align: center;
  padding: 2rem 5rem 2rem 5rem;
  position: relative; 
} */

/* MakerSpace logo */


/* body items */
/*
.mb-0 {
  position: relative;
  float: right;
  padding: 0 25px 40px 1250px;
  right: 0;
}
*/


/* sorting */
/*
.sorting{
  clear: none;
  top: 150px;
  right: 50px;
}
*/

.group-by {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  left: 29em;
  top: 18em;
}


/* first - nesxt - last */
.my-1 {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  right: 5em;
  top: 28em;
}


/* Elementene/ting etc */
.table.b-table.table-bordered.b-table-selectable {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  left: 30em;
  bottom: 1.3em;

}

/* Søk */
.searching {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  top: 3em;
  left: 2em;
}

/* checkbox */

/*.category {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 17em;
  top: 13em;
}
*/

.checkbox {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  top: 8em;
  right: 31.75em;
  background: #B8C2CC;
}

.checkbox input {
  display: inline-block;
  margin-right: 10px;
}

.checkbox label {
  display: inline-block;
  margin-right: 5px;
  
}

.checkbox-label {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 16em;
  top: 6em;
  background: #B8C2CC;
}

/* availability */
.availability {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 16.1em;
  top: 12em;
  background: #B8C2CC;
}

.availability input {
  display: inline-block;
  margin-right: 10px;
}

.availability label {
  display: inline-block;
  margin-right: 5px;
  
}

.availability-label {
  position: relative;
  float: left;
  height: 30%;
  width: 30%;
  right: 0.4em;
  top: 10em;
  background: #B8C2CC;
}

/* nav manager */
.manger-nav {
  
}

.manger-nav a{
  position: relative;
  margin-right: 15px;
  color: #2c3e50;
  float: left;
}

